#questionscreen {
    display: flex;
    flex-direction: column;
    background-image: url('../img/BG.jpg');
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

#buttonsA {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

#buttonsanswers  {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100px;
    border-radius: 20px;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.699);
    color:#FF0000;
    border: 1px solid rgba(255, 0, 0, 0);
    font-size: 2.3em;
    margin: 40px 40px;
    width: 40%;
    transition: all 0.4s ease;
    
}

#buttonsanswers:hover  {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100px;
    border-radius: 20px;
    font-weight: bold;
    background: rgb(46, 46, 46);
    color:rgb(129, 129, 129);
    font-size: 2.3em;
    border: 1px solid rgba(255, 0, 0, 0);
    margin: 40px 40px;
    width: 40%;
    outline: none;
}

#countpoints {
    position: absolute;
    color: red;
    text-shadow:0 0 2px #FF0000,0 0 10px #FF0000, 0 0 120px #FF0000;
    background: rgba(0, 0, 0, 0);
    color:#FF0000;
    font-size: 2.3em;
    margin: 10px 20px;
}

.DisplayQuestion {
    margin: 0px 0px;
    padding: 40px;
    background: rgba(0, 0, 0, 0);
}