#counter {
    display: flex;
    justify-content: center;
    font-size: 6em;
    text-shadow:#D62828 1px 1px 0,
    #F77F00 2px 2px 0,
    #FCBF49 3px 3px 0,
    #EAE2B7 4px 4px 0,
    rgb(255, 0, 0) 5px 5px 5px;
    color:hsl(0, 0%, 0%);
}